# dependencies
/node_modules
/config/config.yaml
/config/config.local.yaml

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

#env
.env

#files
/public/
storage/upload/*
storage/export/*
